@media screen  and (max-width: 2900px) {
    :root {
        --bg-offset-x: 0px;
        --bg-offset-y: -30px;
    }

    .main {
        background-position: calc(30% - var(--bg-offset-x)) calc(70% - var(--bg-offset-y));
    }

}

/*1400 - 1900*/
@media screen  and (max-width: 1400px) {
    /*main*/
    :root {
        --bg-offset-x: -20px;
        --bg-offset-y: -50px;
    }

    .main {
        background-position: calc(90% - var(--bg-offset-x)) calc(90% - var(--bg-offset-y));
    }
}

/*1200 - 1399 (XL)*/
@media screen  and (max-width: 1399px) {
    /*main*/
    :root {
        --bg-offset-x: 0px;
        --bg-offset-y: 0px;
    }

    .main {
        background-position: calc(90% - var(--bg-offset-x)) calc(90% - var(--bg-offset-y));
        padding: 80px 0 400px 0;
    }

    .main-title {
        font-size: 50px;
        letter-spacing: 4px;
    }

    .main-description {
        margin-top: 10px;
    }


    .main-action {
        margin-top: 30px;
    }

    /*advantages */
    .advantage-text {
        font-size: 16px;
    }

    /*review*/
    .review-icon {
        display: block;
    }

    .overlay {
        display: none;
    }


}


/*Scroll max-height (XL)*/
@media screen  and (max-width: 1299px) {
    /*header*/
    .nav-link {
        font-size: 14px;
        margin-right: 10px;
    }

    /*catalog*/
    .scrollable-content {
        max-height: 620px;
    }
}


/*992 - 1099 (LG)*/
@media screen  and (max-width: 1099px) {
    /*header*/
    .logo {
        max-width: 220px;
        margin-right: 5px;
    }

    .nav-link {
        font-size: 14px;
        margin-right: 0;
        padding-right: 5px;
        padding-left: 5px;
    }

    /*main*/
    :root {
        --bg-offset-x: 0px;
        --bg-offset-y: 0px;
    }

    .main {
        background-position: calc(90% - var(--bg-offset-x)) calc(10% - var(--bg-offset-y));
    }

    .main-title {
        margin-top: 20px;
        line-height: 1;

    }


    /*catalog*/
    .card-title {
        font-size: 12px;
    }

    .scrollable-content {
        max-height: 560px;
    }

    /*swiper*/
    .swiper-button-next {
        right: 45%;
    }

    .swiper-button-prev {
        left: 45%;
    }

    /*review*/
    .review-icon {
        display: block;
    }

    .overlay {
        display: none;
    }

}

/*768 - 991 (MD)*/
@media screen  and (max-width: 992px) {
    /*main*/
    .main-info {
        position: relative;
        top: -75px;
    }

    .main-title {
        margin-top: 90px;
        font-size: 48px;
        line-height: 110%;
        letter-spacing: 3px;
    }

    .main-description {
        margin-top: 10px;
        font-size: 22px;
    }

    .main-description-two {
        margin-top: 10px;
        font-size: 20px;
    }

    .main-action {
        margin-top: 30px;
    }

    /*advantages*/
    .advantage-item:hover {
        transform: none;
    }

    /*catalog*/
    .modal-title {
        font-size: 20px;
    }

    .modal {
        padding-left: 10px !important;
        padding-right: 10px !important;
    }

    .characteristics {
        font-size: 12px;
    }

    .characteristics-title {
        font-size: 12px;
    }

    .scrollable-content {
        max-height: 490px;
    }

    /*swiper*/
    .swiper-button-next {
        right: 44%;
    }

    .swiper-button-prev {
        left: 44%;
    }

    /*review*/
    .slide-name {
        font-size: 16px;
    }

    .review-slide {
        font-size: 12px;
    }

    .review-icon {
        display: block;
    }

    .vk-icon svg {
        width: 80%;
        height: 50%;

    }

    .overlay {
        display: none;
    }

}


/*Scroll height*/
@media screen  and (max-width: 892px) {
    .scrollable-content {
        max-height: 445px;
    }
}

/*Scroll none*/
@media screen  and (max-width: 768px) {
    .scrollable-content::-webkit-scrollbar-thumb,
    .scrollable-content::-webkit-scrollbar-track {
        display: none;
    }
}


/*576 - 767 (SM)*/
@media screen  and (max-width: 767px) {
    /*header*/
    .call-contacts>.link-social,
    .call-contacts-info {
        display: none;
    }

    /*main*/
    :root {
        --bg-offset-x: -20px;
        --bg-offset-y: -80px;
    }

    .main {
        background-position: calc(85% - var(--bg-offset-x)) calc(30% - var(--bg-offset-y));
        background-size: calc(260% - var(--bg-offset-x)) calc(100% - var(--bg-offset-y));
    }

    .main-info {
        text-align: center;
        position: relative;
        top: -75px;
    }

    .main-title {
        font-size: 52px;
    }

    .main-description {
        font-size: 28px;
        margin-top: 10px;
    }

    .main-description-two {
        font-size: 20px;
        letter-spacing: 1px;
    }

    /*advantages*/
    .advantage-items {
        justify-content: center;
        margin-left: 60px;
        margin-right: 60px;
    }

    .advantage-text {
        font-size: 18px;
    }

    .advantage-item {
        transition: none;
    }

    /*catalog*/
    .modal-title {
        font-size: 18px;
    }

    .sale {
        font-size: 16px;
    }

    .characteristics {
        margin-left: 10px;
    }

    .scrollable-content {
        overflow: hidden;
        margin-top: 10px;
        max-height: 920px;
    }

    /*swiper*/
    .swiper-button-next {
        right: 42%;
    }

    .swiper-button-prev {
        left: 42%;
    }

    /*review*/
    .slide-name {
        font-size: 20px;
    }

    .review-slide {
        font-size: 16px;
    }

    .review-icon {
        display: block;
    }

    .swiper-slide img {
        border-radius: 5px 5px 0 0;
    }

    .overlay {
        display: none;
    }

    /*footer*/
    .footer-logo {
        margin-bottom: 30px;
    }

}

/*424 - 576 (<SM)*/
@media screen  and (max-width: 575px) {
    /*header*/
    .logo {
        max-width: 220px;
        margin-right: 5px;
    }

    .nav-link {
        font-size: 14px;
        margin-right: 0;
        padding-right: 5px;
        padding-left: 5px;
    }

    .navbar-toggler {
        padding: 3px;
    }

    /*MAIN*/
    :root {
        --bg-offset-x: 44px;
        --bg-offset-y: -74px;
    }

    .main {
        background-position: calc(55% - var(--bg-offset-x)) calc(100% - var(--bg-offset-y));
        background-size: calc(390% - var(--bg-offset-x)) calc(105% - var(--bg-offset-y));
    }

    .main-info {
        text-align: center;
        position: relative;
        top: -100px;
    }

    .main-title {
        margin-top: 120px;
        font-size: 42px;
    }

    .main-description {
        font-size: 20px;
        margin-top: 10px;
    }

    .main-description-two {
        font-size: 16px;
        margin-top: 20px;
        letter-spacing: 1px;
    }

    /*advantages*/
    .advantage-title {
        font-size: 26px;
    }

    .advantage-items {
        justify-content: center;
        margin-left: 40px;
        margin-right: 40px;
    }

    .advantage-text {
        font-size: 16px;
    }

    .advantage-item:hover {
        transform: none;
    }

    /*catalog*/
    .catalog-title {
        font-size: 26px;
    }

    .modal-title {
        font-size: 18px;
    }

    .thumbnail-slider .swiper-slide {
        max-width: 61px;
        max-height: 70px;
    }


    /*swiper*/
    .swiper-button-next {
        right: 38%;
    }

    .swiper-button-prev {
        left: 38%;
    }


    /*calculation*/
    .calculation-title {
        font-size: 26px;
    }


    /*review*/
    .review-title {
        font-size: 26px;
    }

    .slide-name {
        font-size: 16px;
        font-weight: bolder;
    }

    .review-slide {
        font-size: 14px;
    }

    .review-icon {
        display: block;
    }

    .overlay {
        display: none;
    }

    /*screen*/
    .screen-title {
        font-size: 26px;
    }

    /*process*/
    .process-title {
        font-size: 26px;
    }

    .process-murk-up {
        font-size: 18px;
    }

    .process-text {
        font-size: 14px;
    }

    /*questions*/
    .questions-title {
        font-size: 26px;
    }

    /*contacts*/
    .contacts-title {
        font-size: 26px;
    }

    .contacts-text {
        font-size: 14px;
        margin-bottom: 0;
    }

    .contacts-street {
        font-size: 14px;
    }

    .contact-frame {
        text-align: center;
    }

    /*footer*/
    .footer-logo {
        margin-bottom: 30px;
    }

}

/*375 - 424 (ES)*/
@media screen  and (max-width: 424px) {
    .logo {
        max-width: 180px;
        margin-right: 10px;
    }

    :root {
        --bg-offset-x: -70px;
        --bg-offset-y: -45px;
    }

    .main {
        background-position: calc(65% - var(--bg-offset-x)) calc(30% - var(--bg-offset-y));
        background-size: calc(485% - var(--bg-offset-x)) calc(90% - var(--bg-offset-y));
    }


    .main-info {
        text-align: center;
        position: relative;
        top: -40px;
    }

    .main-title {
        margin-top: 120px;
        font-size: 36px;
    }

    .main-description {
        font-size: 18px;
        margin-top: 10px;
    }

    .main-description-two {
        font-size: 16px;
        margin-top: 10px;
        letter-spacing: 1px;
    }

    .main-action {
        margin-top: 25px;
    }

    .main-button {
        text-align: center;
        width: 310px;
        height: 60px;
    }

    /*advantages*/
    .advantage-title {
        font-size: 24px;
    }

    .advantage-items {
        justify-content: center;
        margin-left: 20px;
        margin-right: 20px;
    }

    .advantage-item {
        height: 260px;
    }

    .advantage-header {
        font-size: 16px;
    }

    .advantage-text {
        font-size: 14px;
    }

    .advantage-item:hover {
        transform: none;
    }

    /*catalog*/
    .catalog-title {
        font-size: 24px;
    }

    .characteristics {
        margin-bottom: 10px;
    }

    .modal-title {
        font-size: 16px;
    }

    /*swiper*/
    .swiper-button-next {
        right: 35%;
    }

    .swiper-button-prev {
        left: 35%;
    }


    /*calculation*/
    .calculation-title {
        font-size: 24px;
    }

    .calculation-input {
        height: 50px;
    }

    .calculation-button {
        height: 50px;
    }

    /*review*/
    .review-title {
        font-size: 24px;
    }

    .slide-name {
        font-size: 16px;
        font-weight: bolder;
    }

    .review-slide {
        font-size: 14px;
    }

    .review-icon {
        display: block;

    }

    .overlay {
        display: none;
    }

    /*screen*/
    .screen-title {
        font-size: 24px;
    }

    /*process*/
    .process-title {
        font-size: 24px;
    }

    .process-murk-up {
        font-size: 14px;
    }

    .process-text {
        font-size: 12px;
    }

    .vertical-line {
        height: 50px;
        margin-left: 13px;
        border-left: 4px solid rgba(10, 51, 76, 0.90);
    }

    .process-icon {
        width: 30px;
        height: 31px;
    }

    /*questions*/
    .questions-title {
        font-size: 24px;
    }

    .accordion-body {
        font-size: 14px;
    }

    /*contacts*/
    .contacts-info {
        margin-top: 0 !important;
    }

    .contacts-title {
        font-size: 24px;
    }

    .contacts-text {
        font-size: 14px;
    }

    .contacts-street {
        font-size: 14px;
    }

    .contact-frame {
        text-align: center;
    }

    /*footer*/
    .street {
        font-size: 14px;
    }

}

/*366*/
@media screen  and (max-width: 366px) {
    .characteristics {
        margin-left: 0 !important;
        font-size: 11px;
    }
}

/*320 - 374(XS)*/
@media screen  and (max-width: 374px) {
    /*logo*/
    .logo {
        max-width: 134px;
        margin-right: 5px;
    }

    .call-btn {
        margin-right: 5px;

    }

    /*main*/
    .main-info {
        position: relative;
        top: -40px;
    }

    :root {
        --bg-offset-x: 60px;
        --bg-offset-y: -30px;
    }

    .main {
        background-position: calc(55% - var(--bg-offset-x)) calc(70% - var(--bg-offset-y));
        background-size: calc(480% - var(--bg-offset-x)) calc(90% - var(--bg-offset-y));
    }

    .main-title {
        padding-top: 0;
    }

    .main-description {
        font-size: 16px;
    }

    .main-description-two {
        font-size: 12px;
    }

    .main-button {
        width: 300px;
    }

    /*advantages*/
    .advantage-title {
        font-size: 20px;
    }

    .advantage-header {
        font-size: 16px;
    }

    .advantage-text {
        font-size: 14px;
    }

    .advantage-item:hover {
        transform: none;
    }

    /*catalog*/
    .catalog-title {
        font-size: 20px;
    }

    .characteristics {
        margin-bottom: 40px;
    }

    .modal-title {
        font-size: 14px;
    }


    /*calculation*/
    .calculation-title {
        font-size: 20px;
    }

    /*review*/
    .review-title {
        font-size: 20px;
    }

    .review-icon {
        display: block;
    }

    .overlay {
        display: none;
    }

    /*screen*/
    .screen-title {
        font-size: 20px;
    }

    /*process*/
    .process-title {
        font-size: 20px;
    }


    /*questions*/
    .questions-title {
        font-size: 20px;
    }

    .accordion-body {
        font-size: 14px;
    }

    /*contacts*/
    .contacts-title {
        font-size: 20px;
    }

    .contacts-info {
        margin-top: 0;
    }

    .contacts-text {
        font-size: 12px;
    }

    .contacts-street {
        font-size: 12px;
    }

}
