* {
    margin: 0;
    padding: 0;
}

/*fonts*/
@font-face {
    font-family: Evolventa-BoldOblique;
    src: url("../fonts/Evolventa-BoldOblique.ttf");

}

@font-face {
    font-family: Evolventa-Oblique;
    src: url("../fonts/Evolventa-Oblique.ttf");
}

@font-face {
    font-family: Nunito-Medium;
    src: url("../fonts/Nunito-Medium.ttf");

}

@font-face {
    font-family: Nunito-Regular;
    src: url("../fonts/Nunito-Regular.ttf");
}

/*menu*/
.logo {
    max-width: 240px;
}

.header .navbar {
    padding: 15px 0 20px 0;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
}

.nav-item a {
    color: #003F65;
}

.nav-link {
    font-family: Evolventa-Oblique, sans-serif;
    font-weight: bold;
    font-size: 18px;
    margin-right: 20px;
}

.nav-link:hover {
    color: #178bdc;
}

/*main*/
:root {
    --bg-offset-x: 0px;
    --bg-offset-y: -110px;
}

.main {
    background-image: url('../images/main-image.png');
    background-position: calc(50% - var(--bg-offset-x)) calc(100% - var(--bg-offset-y));
    background-size: cover;
    background-repeat: no-repeat;
    padding: 200px 0 250px 0;
}

.main-title {
    font-family: Evolventa-BoldOblique, sans-serif;
    color: #FFF;
    font-size: 58px;
    line-height: 110%;
    letter-spacing: 4px;
}

.main-description {
    margin-top: 20px;
    color: #FFF;
    font-family: Evolventa-Oblique, sans-serif;
    font-size: 28px;
    font-weight: 600;
    background: linear-gradient(270deg, rgba(43, 166, 241, 0.00) -1.12%, #2BA6F1 -1.11%, rgba(159, 217, 252, 0.99) 79.11%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.main-description-two {
    color: #FFF;
    font-family: Evolventa-Oblique, sans-serif;
    font-size: 24px;
}

.main-action {
    margin-top: 30px;
}

.main-button {
    border-radius: 10px;
    background: linear-gradient(90deg, rgba(36, 155, 184, 0.90) 5.08%, rgba(10, 51, 76, 0.90) 114.58%);
    width: 320px;
    height: 70px;
    cursor: pointer;
    outline: none;
    border: 0;
    padding: 15px;
    box-sizing: border-box;
    flex-shrink: 0;
    color: #FFF;
    font-family: Evolventa-Oblique, sans-serif;
    font-size: 20px;
}


.main-button:hover {
    position: relative;
    background: linear-gradient(to right, #185f8c 0%, #185f8c 100%); /* Начальный и конечный цвета градиента */
    background-size: 200% 100%; /* Размер градиента: 200% ширина, 100% высота */
    color: #fff; /* Цвет текста кнопки */
    transition: background-position 0.3s ease;
}

/*advantages*/
.advantages {
    padding: 40px 0 60px 0;
    background: #D9D9D9;
}

.advantage-title {
    margin-bottom: 30px;
    color: #000;
    font-family: Nunito-Medium, sans-serif;
    font-size: 32px;
}

.advantage-item {
    max-width: 250px;
    margin: 20px;
    padding: 10px;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 40px -5px #8D8D8D;
    transition: all .5s ease;
}

.advantage-item:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.advantage-icon {
    margin-top: 10px;
}

.advantage-header {
    margin-top: 20px;
    font-family: Nunito-Medium, sans-serif;
    font-size: 22px;
    color: #0A334C;
}

.advantage-text {
    margin-top: 20px;
    color: #626262;
    font-family: Nunito-Regular, sans-serif;
    font-size: 16px;
}

/*catalog*/
.catalog {
    padding: 40px 0 40px 0;
    background: #D9D9D9;
}

.catalog-title {
    color: #000;
    font-family: Nunito-Medium, sans-serif;
    font-size: 32px;
}


#swiper1 {
    margin-bottom: 20px;
}

.swiper-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.swiper {
    width: 140%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.swiper-slide {
    background-size: cover;
    background-position: center;
}

.swiper-wrapper {
    cursor: pointer;
}


.mySwiper3 {
    width: 100%;
    height: 20%;
    box-sizing: border-box;
    padding: 10px 0;
}


.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;

}

.product-card img {
    border-radius: 10px 10px 0 0;
}

.card-body {
    border-radius: 0 0 20px 20px;
}

/*.swiper-pagination {*/
/*    position: relative;*/
/*    bottom: 20px;*/
/*}*/

/*.swiper-pagination-bullet {*/
/*    background-color: #154e8c;*/
/*    width: 10px;*/
/*    height: 10px;*/
/*}*/

.card-btn {
    border-radius: 10px;
    background: linear-gradient(90deg, rgba(36, 155, 184, 0.90) 5.08%, rgba(10, 51, 76, 0.90) 114.58%);
    width: 120px;
    height: 45px;
    cursor: pointer;
    outline: none;
    border: 0;
    padding: 14px;
    box-sizing: border-box;
    flex-shrink: 0;
    color: #FFF;
    font-family: Evolventa-Oblique, sans-serif;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1px;
}

.card-btn:hover {
    color: #83ccff;
}

.order {
    width: 100%;
    text-align: center;

}

.order-btn {
    border: 0;
    border-radius: 10px;
    background: linear-gradient(90deg, rgba(36, 155, 184, 0.90) 5.08%, rgba(10, 51, 76, 0.90) 114.58%);
    width: 460px;
    height: 50px;
    padding: 14px;
    box-sizing: border-box;
    flex-shrink: 0;
    color: #FFF;
    font-family: Evolventa-Oblique, sans-serif;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1px;

}

.order-btn:hover {
    position: relative;
    background: linear-gradient(to right, #185f8c 0%, #185f8c 100%); /* Начальный и конечный цвета градиента */
    background-size: 200% 100%; /* Размер градиента: 200% ширина, 100% высота */
    color: #fff; /* Цвет текста кнопки */
    transition: background-position 0.3s ease; /* Длительность анимации и функция сглаживания */
}

.calc-btn {
    padding: 12px 5px 14px 12px;
    border-radius: 10px;
    border: 0;
    background: linear-gradient(90deg, rgba(36, 155, 184, 0.90) 5.08%, rgba(10, 51, 76, 0.90) 114.58%);
    width: 260px;
    height: 50px;
    cursor: pointer;
    outline: none;
    box-sizing: border-box;
    color: #FFFFFF;
    font-family: Evolventa-Oblique, sans-serif;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1px;
}

.calc-btn:hover {
    position: relative;
    background: linear-gradient(to right, #185f8c 0%, #185f8c 100%); /* Начальный и конечный цвета градиента */
    background-size: 200% 100%; /* Размер градиента: 200% ширина, 100% высота */
    color: #fff; /* Цвет текста кнопки */
    transition: background-position 0.3s ease; /* Длительность анимации и функция сглаживания */
}

.modal-input {
    padding: 12px 5px 14px 12px;
    border-radius: 10px;
    border: 1px solid #0A334C;
    background: #FFFBFB;
    width: 260px;
    height: 50px;
    cursor: pointer;
    outline: none;
    box-sizing: border-box;
}

.modal-title {
    color: #0A334C;
    font-family: Evolventa, sans-serif;
    font-size: 32px;
    letter-spacing: 1px;
}

.characteristics-block {
    max-width: 150px;
}

.characteristics {
    margin-bottom: -10px;
    font-family: Nunito-Regular, sans-serif, sans-serif;
    font-size: 18px;
}

.characteristics-title {
    font-family: Evolventa, sans-serif;
    font-size: 14px;
    color: #0A334C;
    font-weight: bolder;
    letter-spacing: 1px;
}

strong {
    color: #565555;
}

.scrollable-content {
    width: 470px;
    max-height: 600px; /* Задайте максимальную высоту блока по вашему усмотрению */
    overflow: auto;
    padding: 10px; /* Добавьте отступы по вашему усмотрению */
}

.scrollable-content::-webkit-scrollbar {
    width: 10px; /* Ширина скроллбара */
}

.scrollable-content::-webkit-scrollbar-thumb {
    background: linear-gradient(90deg, rgba(36, 155, 184, 0.90) 5.08%, rgba(10, 51, 76, 0.90) 114.58%);
    border-radius: 5px; /* Закругленные углы ползунка */

}

.scrollable-content::-webkit-scrollbar-track {
    background-color: #bcbcbd; /* Цвет фона скроллбара */
    border-radius: 5px; /* Закругленные углы ползунка */
}

.modal.fade {
    background: rgba(0, 0, 0, 0.58);
}

.modal-footer {
    border-top: 0;
}

.modal-content {
    border: 0;
}

.modal-dialog {
    max-width: 1200px;
    margin: 0 auto;
}

.modal-dialog-form {
    max-width: 600px;
    margin: 0 auto;
}

.modal-btn {
    padding: 0 20px 20px 20px;
}

/*calculation*/
.calculation {
    padding: 20px 0 60px 0;
    background-color: #D9D9D9;
}

.calculation-title {
    margin-bottom: 30px;
    color: #000;
    font-family: Nunito-Medium, sans-serif;
    font-size: 32px;
}

.form-text {
    margin-left: 10px;
    color: #000;
    font-family: Nunito-Regular, sans-serif;
    font-size: 16px;
}

.calculation-input {
    height: 60px;
    border-radius: 10px;
    width: 300px;
    cursor: pointer;
    outline: none;
    border: 0;
    padding: 15px;
    box-sizing: border-box;
    flex-shrink: 0;
}

.calculation-button {
    height: 60px;
    border-radius: 10px;
    background: linear-gradient(90deg, rgba(36, 155, 184, 0.90) 5.08%, rgba(10, 51, 76, 0.90) 114.58%);
    width: 300px;
    cursor: pointer;
    outline: none;
    border: 0;
    padding: 15px;
    box-sizing: border-box;
    flex-shrink: 0;
    color: #FFF;
    font-family: Evolventa-Oblique, sans-serif;
    font-size: 20px;
}

/*review*/
.review {
    padding: 40px 0 60px 0;
    background-color: #D9D9D9;
}

.review-title {
    margin-bottom: 30px;
    color: #000;
    font-family: Nunito-Medium, sans-serif;
    font-size: 32px;
}

.swiper {
    border-radius: 10px;
    box-sizing: border-box;
    max-width: 100%;
    margin: 0 auto; /* Центрирование слайдера на странице */
}

.swiper-slide {
    background-color: #fffefe; /* Фоновый цвет карточки */
    border-radius: 10px; /* Скругление углов карточки */
    overflow: hidden; /* Обрезание контента, если он выходит за пределы карточки */
}

.swiper-slide img {
    width: 100%; /* Ширина изображения 100% от родительского контейнера */
    height: 100%; /* Автоматическая высота для изображения */
}

.slide-name {
    margin-top: 10px;
    font-family: Nunito-Regular, sans-serif, sans-serif;
    font-size: 18px;
    color: #003F65;
    font-weight: bolder;
}

.review-slide {
    padding: 5px;
    font-family: Nunito-Regular, sans-serif;
    font-size: 14px;
    color: #888888;
}

.review-text {
    font-family: Nunito-Regular, sans-serif;
    color: #003F65;
    font-size: 12px;
}

.swiper-pagination-catalog {
    position: relative;
    display: flex;
    justify-content: center;
}

.swiper-pagination {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    opacity: 0.7; /* Прозрачность неактивных точек */
    margin: 0 10px; /* Расстояние между точками */
    cursor: pointer; /* Изменение курсора при наведении */
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    cursor: pointer;
}

.swiper-slide:hover .overlay {
    opacity: 1;
}

.review-icon {
    display: none;
}

/*screen*/
.screen {
    padding: 40px 0 60px 0;
    background-color: #D9D9D9;
}

.screen-title {
    margin-bottom: 30px;
    color: #000;
    font-family: Nunito-Medium, sans-serif;
    font-size: 32px;
}

/*process*/
.process {
    padding: 40px 0 60px 0;
    background-color: #ffffff;
}

.vertical-line {
    border-radius: 50px;
    font-size: 0;
    border-left: 6px solid rgba(10, 51, 76, 0.90);
    height: 100px;
    margin-left: 23px;
    margin-right: 20px;
}

.process-title {
    margin-bottom: 30px;
    color: #000;
    font-family: Nunito-Medium, sans-serif;
    font-size: 32px;
}

.process-text {
    margin-left: 20px;
    color: #888888;
    font-family: Nunito-Regular, sans-serif;
    font-size: 16px;
}

.process-murk-up {
    color: rgba(10, 51, 76, 0.90);
    font-family: Nunito-Regular, sans-serif;
    font-size: 20px;
    font-weight: bolder;
}

/*questions*/
.questions {
    padding: 40px 0 60px 0;
    background-color: #ffffff;
}

.questions-title {
    margin-bottom: 30px;
    color: #000;
    font-family: Nunito-Medium, sans-serif;
    font-size: 32px;
}

.accordion-button {
    background-color: rgba(10, 51, 76, 0.90);
    color: #FFFFFF;
    font-family: Nunito-Medium, sans-serif;
    font-size: 20px;
}

.accordion-body {
    color: #888888;
}

.accordion-button::after {
    background-color: #FFFFFF;
    border-radius: 10px;
}

/*contacts*/
.contacts {
    padding: 40px 0 60px 0;
    background-color: #ffffff;
}

.contacts-title {
    margin-bottom: 60px;
    color: #000;
    font-family: Nunito-Medium, sans-serif;
    font-size: 32px;
}

.contact-text {
    color: rgba(10, 51, 76, 0.90);
    font-family: Nunito-Medium, sans-serif;
    font-size: 20px;
}

.contact-paragraph {
    color: #888888;
    font-family: Nunito-Medium, sans-serif;
    font-size: 16px;
}

/*the-end*/
.the-end img {
    width: 100%;
}

/*footer*/
.footer {
    padding: 60px 0 80px 0;
    background-color: #232628;
}

.info {
    color: #FFFFFF;
    max-width: 450px;
    font-family: Nunito-Medium, sans-serif;
    font-size: 14px;
}

.horizontal-line {
    color: #FFFFFF;
}

.copyright {
    color: #FFFFFF;
    font-family: Nunito-Medium, sans-serif;
    font-size: 14px;
}

/*PHONE*/
.phone {
    cursor: pointer;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: radial-gradient(50% 50% at 50% 50%, #0176FF 0%, #003F65 100%);
    position: fixed;
    top: 120px;
    right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: pulse 1s infinite;
    z-index: 99;
}

.phone::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    z-index: -1;
    animation: pulse-2 1s infinite;
    background: radial-gradient(50% 50% at 50% 50%, #0176FF 0%, #72B3FF 100%);
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes pulse-2 {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    100% {
        transform: scale(2);
        opacity: 0;
    }
}
